.MuiTypography-body1 {
  font-family: 'Proxima-Nova', sans-serif;
  font-weight: 400;
  color: black;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.5em;
  color: rgba(0,0,0,.75);
}

.MuiTypography-root {
  margin: 0px 0px 0px 15%
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0px
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 0.1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 1ms ease-in;
}